{% load static %}
<html lang="ru">
  <head>
      <title>Морковочный кликер</title>
      <link rel="shortcut icon" type="image/x-icon" href="https://i.pinimg.com/originals/b4/ed/15/b4ed15d1dfac88229bdd47e404041756.png"/>
      <link rel="stylesheet" href="{% static 'css/style.css' %}">
      <script type="text/javascript" src="{% static 'frontend/js/index.js' %}"></script>
  </head>
  <body>
    <main class="app">
        <nav class="nav">
            Привет, {{user.username}}
             <div id="core_level">Уровень: <span class="value">{{ core.level }}</span></div>
            <a href="{% url 'logout' %}">Выйти</a>
        </nav>

        <div class="container">
            <div id='coins'>{{core.coins}}</div>

            <p>
                Сила посева урожая: <span id="click_power">{{ core.click_power }}</span>
            </p>
        </div>
        <div>
            <button id="morkovka" onclick="call_click()">
                <img src="../static/frontend/photos/morkov.png" alt="morkovka">
            </button>
        </div>
        <aside class="boosts" id="boosts">
            <h3>Бусты</h3>
            <div class="boosts-holder" id="boosts-holder">
                {% for boost in boosts %}
                    <button class="boost" id="boost_{{boost.id}}" onclick="buy_boost({{boost.id}})">
                        <p>lvl: <span id="boost_level">{{boost.lvl}}</span></p>
                        <p>+<span id="boost_power">{{boost.power}}</span></p>
                        <p><span id="boost_price">{{boost.price}}</span></p>
                    </button>
                {% endfor %}
            </div>
        </aside>
    </main>
  </body>
</html>
