{% load static %}
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <meta charset="utf-8">
    <title>Авторизация</title>
      <link rel="shortcut icon" type="image/x-icon" href="https://i.pinimg.com/originals/b4/ed/15/b4ed15d1dfac88229bdd47e404041756.png"/>
  </head>
  <body>
    <div class="header">
      <h3 class="site-name">ВХОД</h3>
       
      </div>
    <main>
    <div class="form" align="center">
      <form method="post" action="{% url 'login' %}" >
        {% csrf_token %}
        
        <div class="form-group">
            <label for="username"> Имя пользователя: </label>
            <br>
            <input type="text" name="username" id="username" placeholder="Имя">
        </div>
        <div class="form-group">
            <label for="password"> Пароль: </label>
            <br>
            <input type="text" name="password" id="password" placeholder="Пароль">
        </div>
        <div class="form-group">
          <input class="ok" type="submit" value="Войти">
        </div>
       {% if invalid%}
       <p class="error"> Неверное имя пользователя или пароль </p>
       {% endif %}
      </form>
      
    </div>
    <div class="sign_up" align="center">Нет аккаунта? <a href="/app/registration">Зарегестрироваться!</a></div>
    </main>
  </body>
</html>
